.headContainer {
	padding: 0 var(--side-padding);
	display: flex;
	justify-content: center;
}

.head {
	max-width: var(--page-width);
	width: 100%;
}

.pageName {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 10px;
}

.pageName h1 {
	font-family: var(--unbounded), sans-serif;
	font-weight: 500;
	font-size: 30px;
}

.pageName svg {
	color: var(--text-color);
	height: 35px;
	width: 35px;
}

.description {
	font-size: 18px;
	font-weight: 500;
	color: var(--text-gray);
	margin-bottom: 25px;
}

@media (max-width: 599px) {
	.pageName {
		margin-bottom: 10px;
		margin-bottom: 4px;
	}

	.pageName h1 {
		font-size: 22px;
	}

	.pageName svg {
		height: 24px;
		width: 24px;
	}

	.description {
		font-size: 14px;
		margin-bottom: 12px;
	}
}