.articles {
	padding: 0 var(--side-padding);
	display: flex;
	justify-content: center;
}

.articlesContent {
	max-width: var(--page-width);
	width: 100%;
}

.articlesGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px 20px;
}

@media (max-width: 599px) {
	.articlesGrid {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}