.cards {
	padding: 0 var(--side-padding);
	display: flex;
	justify-content: center;
}

.cardsContent {
	max-width: var(--page-width);
	width: 100%;
}

.cardsGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px 20px;
}

@media (max-width: 799px) {
	.cardsGrid {
		grid-template-columns: 1fr;
		gap: 20px;
	}
}