.card {
	display: flex;
	position: relative;
	gap: 15px;
	container-type: inline-size;
	container-name: card;
}

.bookmark {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.photo,
.photoDummy {
	position: relative;
	aspect-ratio: 3 / 4;
	min-width: 140px;
	border-radius: 15px;
	overflow: hidden;
}

.photoDummy {
	background-color: var(--bg-contrast);
}

.cardDescription {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.tagBar {
	display: flex;
	gap: 5px;
	align-items: center;
}

.rate {
	display: flex;
	align-items: center;
	gap: 6px;
	height: 30px;
	padding: 8px;
	background-color: var(--button-bg);
	border-radius: 10px;
}

.cardDescription .name {
	color: var(--text-color);
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	margin-right: 30px;
}

.card .name:hover,
.photo:hover {
	opacity: var(--opacity-percent);
}

.extra {
	font-size: 14px;
	color: var(--text-to-read);
}

@container card (max-width: 489px) {

	.photo,
	.photoDummy {
		min-width: 124px;
	}
}

@media (max-width: 799px) {
	@container card (max-width: 767px) {

		.photo,
		.photoDummy {
			width: 140px;
		}
	}

	@container card (max-width: 567px) {

		.photo,
		.photoDummy {
			width: 105px;
		}

		.cardDescription a {
			font-size: 16px;
		}

		.extra {
			font-size: 12px;
		}

		.rate {
			font-size: 14px;
		}
	}
}