.button {
	background: var(--button-bg);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.button:hover {
	opacity: var(--opacity-percent);
}