.tag {
	padding: 6px 14px;
	border-radius: 10px;
	font-size: 12px;
	font-weight: 600;
	width: fit-content;
	text-decoration: none;
}

.tag:hover {
	opacity: var(--opacity-percent);
}

@media (max-width: 599px) {
	.tag {
		font-size: 10px;
	}
}