.hero {
	padding: 0 var(--side-padding);
	display: flex;
	justify-content: center;
}

.heroContent {
	display: flex;
	gap: 20px;
	padding: 50px;
	max-width: 1000px;
	width: 100%;
	background-color: var(--orange);
	border-radius: 40px;
}

.heroLeft {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.heroContent h2 {
	font-family: 'Unbounded', sans-serif;
	font-size: 35px;
	font-weight: 600;
	line-height: 140%;
}

.headlineTop {
	display: flex;
	align-items: center;
	gap: 16px;
}

.heroContent p {
	font-size: 20px;
	font-weight: 500;
}

.heroRight {
	display: flex;
	align-items: center;
}

.heroContent img {
	width: 225px;
	height: auto;
}

.tagsBlock {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.tags a {
	text-decoration: none;
	color: var(--text-color);
	padding: 6px 12px;
	border: 1.5px solid #7B5B1C;
	border-radius: 15px;
}
.tags a:hover {
	opacity: var(--opacity-percent);
}